---
---

$primary-color: #2E9CCA;
$primary-background: #333;
body {
    margin: 60px auto;
    width: 70%;
    background-color: $primary-background;
    color: #ddd;
}

header {
    display: block;
    padding: 15px;
    border-radius: 5px;
    background: #2b2b2b;
    width: 100%;
}

li.current a {
  background-color: $primary-color;
  color: #222;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 5px rgba(0,0,0,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

li.current a:hover {
  background-color: $primary-color;
  color: #222;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 1px 5px rgba(0,0,0,0.5);
  text-shadow: 0 1px 0 rgba(255,255,255,0.3);
}

a {
    text-decoration: none;
    color: $primary-color;
}

a:hover {
    color: $primary-color;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ddd;
}
footer {
    margin-top: 40px;
    border-top: 1px solid #ddd;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.post-body {
  font-size: 0.60em;
}
