<link rel="stylesheet" href="/css/comments.css">

<form method="POST" action="https://api.staticman.net/v3/entry/github/thisHermit/thisHermit.github.io/master/comments">
  <input name="options[redirect]" type="hidden" value="{{ site.url }}/{{ page.id }}">
  <!-- e.g. "2016-01-02-this-is-a-post" -->
  <input name="options[slug]" type="hidden" value="{{ page.slug }}">
  <label><input name="fields[name]" type="text">Name</label>
  <label><input name="fields[email]" type="email">E-mail</label>
  <label><textarea name="fields[message]"></textarea>Message</label>

  <button type="submit">Go!</button>
</form>

<div class="comments">
  <ul>
    {% for comment in site.data.comments[page.slug] %}
      {% assign commentData = comment[1] %}
      <li>
        <ul>
          <li>{{ commentData.name }}</li>
          <li>{{ commentData.email }}</li>
          <li>{{ commentData.message }}</li>
          <li>{{ commentData.date }}</li>
        </ul>
      </li>
    {% endfor %}
  </ul>
</div>
